/*Quiz Styles*/
@import "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-family: "Roboto", sans-serif;
}

body {
  margin: auto;
  width: 100%;
}

/*Progress Bar Styles*/
#quiz-container {
  width: 80%;
  justify-items: center;
  margin: auto;
}

.progress {
  /* padding: 10%; */
  width: 70%;
  justify-items: center;
  margin: auto;
  margin-top: 5%;
}

#result .progress {
  width: 87%;
}

.progress-bar {
  background-color: #41bfe7;
}

.content {
  /* display: flex; */
  padding-top: 10%;
  padding-bottom: 10%;
  justify-items: center;
  color: #2b3b4b;
  margin: auto;
  width: 70%;
}

#result .content {
  width: 87%;
  padding-bottom: 3%;
}

#result .row {
  padding-bottom: 5%;
}

h2 {
  padding-bottom: 2%;
}

h5 {
  padding-bottom: 2%;
  font-weight: 400;
  font-size: 18px;
}

.question label {
  color: #667085;
  font-size: 16px;
  font-weight: 400;
}

.start-text {
  font-weight: 700;
}

#goal label {
  padding-bottom: 2%;
}

#goal {
  margin-bottom: 10%;
}

#question-bucket .footer {
  width: 70%;
}

#goals .footer {
  width: 100%;
}

#focus .inputs {
  padding-bottom: 5%;
}

#abc {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin: 10px auto 10px auto;
}

#abc input[type="radio"] {
  display: none;
}

#abc label {
  display: inline-block;
  background: white;
  height: 80px;
  width: 230px;
  border: 1px solid #99a2ad;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  color: #2b3b4b;
  transition: all 0.3s ease;
  cursor: pointer;
}

#abc input[type="radio"]:checked + label {
  background-color: #004a8e;
  color: white;
  font-weight: 700;
  border: 0px;
}

#ww {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin: 10px auto 10px auto;
}

#ww input[type="radio"] {
  display: none;
}

#ww label {
  display: inline-block;
  background: white;
  height: 80px;
  width: 230px;
  border: 1px solid #99a2ad;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  color: #2b3b4b;
  transition: all 0.3s ease;
  cursor: pointer;
}

#ww input[type="radio"]:checked + label {
  background-color: #004a8e;
  color: white;
  font-weight: 700;
  border: 0px;
}

#focus-container {
  padding-bottom: 10%;
}

/* #result-methods {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
} */

#result-question {
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 22px;
  width: 80%;
}

h4 {
  color: #004a8e;
}

#result-goal {
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 22px;
  width: 80%;
}

#result-methods p {
  font-size: 22px;
}

.return {
  justify-content: center;
  margin: auto;
  width: 100%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 5%;
  cursor: pointer;
}

.return a {
  color: #2b3b4b;
  font-size: 18px;
}

.footer {
  /* padding-top: 10%;
  padding-bottom: 10%; */
  justify-items: center;
  /* align-content: bottom; */
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.nxt-btn {
  background-color: #41bfe7;
  border-color: #41bfe7;
  color: white;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 700;
  padding: 1%;
  width: 120px;
}
/* 
.nxt-btn:hover {
  background-color: ;
} */

.prev-btn {
  background-color: white;
  border: 2px solid #e5e5e5;
  color: #667085;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 400;
  padding: 1%;
  width: 150px;
}
