/*Index Styles*/
@import "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
}

/* #main {
  min-height: 100%;
  padding-top: 100px;
} */

/*Top Part*/
#top {
  background-image: url("images/background.jpg");
  background-size: cover;
  height: 100%;
  padding-top: 10%;
  align-items: center;
  background-color: #ffffff;
  /* align-content: space-between; */
  font-family: "Roboto";
  display: flex;
}

#intro_text {
  justify-items: center;
  color: black;
  margin: auto;
  width: 400px;

  /* margin-left: 30%;
  margin-right: 30%; */
  /* padding-top: 10%;
  padding-bottom: 10%; */
}

#intro_text h2 {
  font-weight: 400;
  font-size: 20px;
}

.start-button {
  background-color: #41bfe7;
  border-color: #41bfe7;
  box-shadow: 0px 4px 4px rgba(15, 15, 15, 0.25);
  margin-top: 20%;
  color: #000000;
}

.start-button:hover {
  background-color: #004a8e;
  border-color: #004a8e;
}

#arrow {
  justify-items: center;
  margin: auto;
  width: 10px;
  padding-top: 5%;
  animation: slide 2s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate(0, 35px);
  }
  50% {
    transform: translate(0, 45px);
  }

  100% {
    transform: translate(0, 35px);
  }
}

/*Overview Styles*/
#overview {
  margin-left: 15%;
  margin-top: 15%;
  margin-right: 15%;
  margin-bottom: 10%;
}

#overview p {
  font-size: 18px;
}

#carouselExampleDark {
  width: 90%;
  justify-content: center;
}

/* .carousel-item img {
  width: 50%;
} */

/*Methods Styles*/
#methods {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  padding-bottom: 5%;
}

#methods h3 {
  padding-bottom: 2;
}

.row {
  padding-top: 1%;
}

.card-body {
  color: black;
  height: 233px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(15, 15, 15, 0.25);
}

.discover {
  background-color: #9bc700;
  border-color: #9bc700;
}

.explore {
  background-color: #41bfe7;
  border-color: #41bfe7;
}

.test {
  background-color: #ff5a9c;
  border-color: #ff5a9c;
}

.listen {
  background-color: #f0cc08;
  border-color: #f0cc08;
}

.card {
  margin-top: 10%;
  border: 0px;
}

.card h4 {
  font-size: 36px;
  font-weight: 400;
}

.card-title {
  padding-bottom: 2%;
  padding-right: 10px;
}
.card-subtitle {
  color: #000000 !important;
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 2%;
}

.card button {
  background: none;
  border: none;
}

.card-link {
  color: black;
  text-decoration: underline;
  align-content: bottom;
}

.card-link:hover {
  color: black;
}

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
  justify-content: left;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(-180deg);
  text-align: left;
  display: block;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 18px;
}

.discover .flip-card-back {
  background-color: #9bc700;
  border-color: #9bc700;
}

.explore .flip-card-back {
  background-color: #41bfe7;
  border-color: #41bfe7;
}

.test .flip-card-back {
  background-color: #ff5a9c;
  border-color: #ff5a9c;
}

.listen .flip-card-back {
  background-color: #f0cc08;
  border-color: #f0cc08;
}

.modal-body h5 {
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
}

.modal-body figure {
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal-body img {
  padding-bottom: 6px;
}

figcaption {
  font-size: 12px;
  font-style: italic;
  width: 460px;
}

.caption {
  font-size: 8px;
  font-style: italic;
  color: #667085;
}

#methods .caption {
  padding-top: 5%;
  font-size: 12px;
  padding-left: 2%;
  padding-right: 4%;
}

#methods .caption a {
  color: #004a8e;
}

#method-intro {
  font-size: 18px;
}

.discover-text {
  color: #000000;
  font-weight: 700;
  background-color: #9bc700;
}

.explore-text {
  color: #000000;
  font-weight: 700;
  background-color: #41bfe7;
}

.test-text {
  color: #000000;
  font-weight: 700;
  background-color: #ff5a9c;
}

.listen-text {
  color: #000000;
  font-weight: 700;
  background-color: #f0cc08;
}

.modal-body a {
  color: #004a8e;
}

.outline {
  font-weight: 700;
  color: #004a8e;
  text-decoration: none;
}

.list-start {
  font-weight: 700;
}

/*Modals*/
/* .modal {
  display: block;
  position: fixed;
  left: 60%;
  height: 88%;
  width: 28%;
  overflow-y: auto;
  overflow-x: auto;
  border-radius: 0px;
  z-index: 1072;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
} */
