body {
  font-family: "Open Sans Condensed", sans-serif;
  color: navy;
}

#container {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

h1 {
  font-family: "Pacifico", cursive;
}

#animal {
  justify-content: center;
}

#animal-img {
  width: 300px;
  height: 300px;
}

button {
  width: 100px;
  height: 40px;
  justify-content: center;
  color: white;
  background-color: navy;
  font-family: "Open Sans Condensed";
  font-size: 18px;
}

p {
  font-family: "Montserrat";
  font-size: 18px;
  justify-content: center;
}
